@model RoomModal
@{
    ViewData["Title"] = "Room";
    ViewData["Modal"] = "Edit\nRoom";
    int id = ViewBag.Room.RoomId;
    string name = ViewBag.Room.RoomName;
    string desc = ViewBag.Room.RoomDescription;
    int idt = ViewBag.Room.RoomTypeId;
}
<form asp-controller="Room" asp-action="EditRoom" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="InputID" placeholder="123" asp-for="RoomId" value=@id readonly>
        <label for="floatingInput">ID</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="InputName" placeholder="Name" asp-for="RoomName" value=@name>
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="RoomDescription" value=@desc></textarea>
        <label for="floatingInput">Description</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" aria-label="Select RoomType" asp-for="RoomTypeId" value=@idt>
            @foreach (RoomTypeModal data in ViewData["RoomTypeModal"] as IList<RoomTypeModal> ?? default!)
            {
                <option value="@data.RoomTypeId">@data.RoomTypeId</option>
            }
        </select>
        <label for="floatingInput">Type</label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
    </div>
</form>