@model RoomModal

@{
    ViewData["Title"] = "Room";
    ViewData["Modal"] = "Create\nRoom";
    int id = 1;
    @if (ViewBag.RoomTypeId != null)
    {
        id = ViewBag.RoomId;
    }

}

<form asp-controller="Room" asp-action="RegisterRoom" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="InputID" placeholder="123" asp-for="RoomId" value=@id>
        <label for="floatingInput">ID</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="InputName" placeholder="Name" asp-for="RoomName">
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="RoomDescription"></textarea>
        <label for="floatingInput">Description</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" aria-label="Select RoomType" asp-for="RoomTypeId">
            @foreach (RoomTypeModal data in ViewData["RoomTypeModal"] as IList<RoomTypeModal> ?? default!)
            {
                <option value="@data.RoomTypeId">@data.RoomTypeId</option>
            }
        </select>
        <label for="floatingInput">Type</label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
    </div>
</form>